<!DOCTYPE html>
<html lang="en">
<head>
    {{>header}}
</head>
<body>
    {{>navbar}}
    <div class="weather_container">
        <div class="searchbar">
            
        </div>
        <div class="resultbox">

        </div>
    </div>
    {{>footer}}
</body>
</html>