@import url('https://fonts.googleapis.com/css2?family=Piazzolla:opsz,wght@8..30,100;8..30,200;8..30,300;8..30,400;8..30,800&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Piazzolla', serif;
}

html{
    font-size: 62.5%;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;

}
/* navbar-css */

.navbar-expand-lg{
    background-color: #1b2328;
    padding: 1.5rem;
}

.navbar-brand{
    color: #fff;
    font-size: 2rem;
}

.nav-link{
    color: #fff;
    margin-right: 2rem;
    font-size: 1.5rem;
}

.nav-link:hover{
    color: #00b4d8;
}

.navbar-brand:hover{
color: #00b4d8;
}

.navbar-toggler-icon{
    color: #fff;
}

.fa-snowflake{
    animation: spin 3s infinite linear;
}

@keyframes spin{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}


/* herosection css */

.hero_container
{
    display: flex;
    justify-content: space-evenly;
    /* flex-wrap: wrap; */
    /* height: 100vh; */
    align-items: center;
}
.info_home{
    display: flex;
    flex-direction: column;
    gap: 20px 
}

.info_home p{
    font-size: 1.8rem;
    color: gray;
}

.info_home h1{
    color: black;
    font-size: 4rem;
}

.info_home h1 span{
    color: #00b4d8;
}

.button{
    padding: 10px 18px;
    border: none;
    border-radius: 10px;
    background-color : #eeeeee;
    /* box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;     */
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    width: 150px;
    font-size: 12px;
}

.slider,#carouselExampleFade{
    width: 595px;
    height: 595px;
}

.carousel-item img{
    width: 595px;
    height: 595px;
}
p{
    margin: 0;
}

/* footer css */

footer{
    background-color: #1b2328;
    text-align: center;
    padding: 9px;
    color: white;
    font-size: 2rem;
    margin-top: auto;
}

/* Weather Page css */
.weather_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;
    gap: 40px;
}


.searchbar{
    border: 1px solid black;
    border-radius:30px ;
    width: 40rem;
    /* padding: 1.5rem; */
    display: flex;
    justify-content: space-between;
    background-color: #1b2328;
}

.searchbar input{
    background-color: transparent;
    color: white;
    border: none;
    font-size: 1.5rem;
    padding-left: 1rem;
    width: 29rem;
}
input:focus{
    outline: none;
}
::placeholder{
    color: #fff;
}
.searchbar button{
    padding: 20px 25px;
    color: #00b4d8;
    border-radius: 50px;
    border: none;
    font-size: 1.5rem;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

.searchbar button:active{
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}

.resultbox
{
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 250px;
    background-color: #303340;
    color: #fff;
    border-radius: 20px;
}

.date_time
{
    display: flex;
    justify-content: space-between;
    padding: 30px 10px;
    background-color: #292c39;
    border-radius: 20px 20px 0px 0px ;
}

.weather_detail p{
    font-size: 20px;
    align-items: right;
    padding: 20px 20px 0px 6px;
    color: #a2a5b0;
}

.temp{
    display: flex;
    justify-content: space-between;
    padding: 30px 15px 0px 8px ;
}

#weathervisiblty{
    visibility: hidden;
}

.temp p{
    color: #fff;
    font-size: 40px ;
    align-items: center;
    justify-content: center;
}

.temp i{
    font-size: 70px;
}

/* 404 page css */

.errorpage_Container
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.errorpage_Container img{
    background-size: cover;
    height: 70vh;
}


@media (max-width : 950px){

    .hero_container{
        /* gap: 20px; */
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .info_home{
        padding: 40px 0px;
    }

    .info_home h1{
        color: black;
        font-size: 2rem;
    }

    .slider,#carouselExampleFade{
        width: 395px;
        height: 395px;
    }
    
    .carousel-item img{
        width: 395px;
        height: 395px;
    }

}